file5
file6
file7





:wq

i
:wq
[C[[[A[[C[Cgit status
[C[C[C[C[C[C[A[A[A[A[A[A
[A[A[




[A[A[A[B[B[B[C[C[C[C[C[C[C[A[C[C[A[C[C[C[C[C[C[C[C[C[C[C[C


[A[A[A[A[A[A[C[B[B



[A[A[A[A$ git log


:wq
:wq
exit

